|{% extends "layout/base_layout.html" %}

| {% load i18n static %}
| {% load widget_tweaks %}

{% block title %}

|   {% if form.code.value %}
|       <title>{{form.code.value}}</title>

|   {% else %}

|       <title>Crear Producto</title>

|   {% endif %}

{% endblock %}


{% block breadcrumbs %}
|   <div class="breadcrumbs col-xs-12" style="height: 40px;">
|   <a href="/">Inicio</a> &nbsp;  &rsaquo; &nbsp;  <a href="/admin/sales/product">Productos</a>

{% if form.code.value %}

|   &rsaquo; &nbsp;  <span class='current-text'>{{form.code.value}}</span>

{% else %}

|   &rsaquo; &nbsp;  <span class='current-text'>Agregar</span>

{% endif %}

|   <div id="user-tools" class="pull-right" style="margin-right: 50px;">
|       {% block welcome-msg %}
|       {% trans 'Welcome,' %}
|       <strong>{% firstof user.get_short_name user.get_username %}</strong>.
|       {% endblock %}
|       {% block userlinks %}
|       {% if user.has_usable_password %}
|       <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
|       {% endif %}
|       <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
|       {% endblock %}
|       </div>
|   </div>

{% endblock %}

{% block content %}

.app-container-div
    form(action='', method='post', novalidate id="createForm")
        |{% csrf_token %}
        input(type='text' hidden value='{{company}}')#id_company

        .row
            //-----------------------------------------------------------------------------
            //-General data div

            .form-group.col-xs-12.col-sm-6.col-lg-4.block.general-block

                .col-xs-10.no-padding-right
                    span.title Datos Generales:
                    hr.intro-dividertitle
                .col-xs-6
                    label Código: &nbsp;
                    |{{form.code | add_class:"code general field form-control input-sm " |add_error_class:"error-field hasTooltip" }}
                    .hidden
                        | {{ form.code.errors}}

                .col-xs-6
                    label Unidad:
                    span.error-span.right
                    |{{form.unit | add_class:"unit general field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.unit.errors}}

                .col-xs-12
                    label Descripción:
                    |{{form.description | add_class:"description general field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.description.errors}}
                .col-xs-6
                    label Familia:
                    |{{form.department | add_class:"department general field form-control " | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.department.errors}}
                .col-xs-6
                    label Sub-Familia:
                    |{{form.subdepartment | add_class:"subdepartment general field form-control " | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.subdepartment.errors}}
                .col-xs-12
                    label Costo:
                    | {{form.cost | add_class:"cost general field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.cost.errors}}


            //General data div
            //-----------------------------------------------------------------------------

            //-----------------------------------------------------------------------------
            //-Sale Data div
            .form-group.col-xs-12.col-sm-6.col-lg-4.block.sale-block
                .col-xs-10.no-padding-right
                    .col-xs-5.col-sm-7.col-md-6.col-lg-5.no-padding-left
                        span.title Datos Venta:
                    .col-xs-2
                        | {{form.hasforsale | add_class:"hasforsale sale field form-control left-checkbox" | add_error_class:"error-field"}}
                .col-xs-10.no-padding-right
                    hr.intro-dividertitle

                .col-xs-12
                    label Código de barras:
                    | {{form.barcode | add_class:"barcode sale field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.barcode.errors}}
                .col-xs-6
                    label Utilidad %:
                    | {{form.utility | add_class:"utility sale field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.utility.errors}}
                .col-xs-6
                    label Precio sin I.V:
                    | {{form.price | add_class:"price sale field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.utility.errors}}

                .col-xs-6
                    label Impuestos %: &nbsp;
                    |{{form.usetaxes | add_class:"usetaxes sale field"}}

                    | {{form.taxes | add_class:"taxes sale field form-control" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.taxes.errors}}
                .col-xs-6
                    label Descuento %:
                    | {{form.discount | add_class:"discount sale field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.discount.errors}}
                .col-xs-12
                    label Precio de Venta:
                    | {{form.sellprice | add_class:"sellprice sale field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                    .hidden
                        | {{ form.sellprice.errors}}

            //Sale Data div
            //-----------------------------------------------------------------------------

            //-----------------------------------------------------------------------------
            //-inventory div
            .form-group.col-xs-12.col-sm-12.col-lg-4
                .col-xs-12.col-sm-6.col-lg-12.no-padding-left.block.inventory-block

                    .col-xs-10.no-padding-right
                        .col-xs-5.col-sm-5.col-lg-4.no-padding-left
                            span.title Inventarios:
                        .col-xs-2
                            | {{form.useinventory | add_class:"useinventory inventory field form-control left-checkbox"}}
                    .col-xs-10.no-padding-right
                        hr.intro-dividertitle
                    .col-xs-6
                        label Inventario Inicial:
                        //input(type='number' style='width:70%').inventory.field.form-control.input-sm
                        | {{form.inventory | add_class:"inventory sale field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                        .hidden
                            | {{ form.inventory.errors}}
                    .col-xs-6
                        label Mínimo Inventario:
                        //input(type='number').minimum.field.form-control.input-sm
                        | {{form.minimum | add_class:"minimum sale field form-control input-sm" | add_error_class:"error-field hasTooltip"}}
                        .hidden
                            | {{ form.minimum.errors}}

                .col-xs-12.col-sm-6.col-lg-12.composed
                    .col-xs-10.no-padding-right
                        .col-xs-5.col-sm-5.col-lg-4.no-padding-left
                            span.title Compuesto:
                        .col-xs-2
                            | {{form.isComposed | add_class:"isComposed inventory field form-control left-checkbox"}}
                    .col-xs-10.no-padding-right
                        hr.intro-dividertitle
                    .col-xs-5.no-padding-right
                        input(type='button', value='Componentes').form-control.btn-success.btn-recipe
                        | {{ form.recipe.errors}}
                        |{{form.recipe | add_class:"recipe" | attr:'hidden:true' }}
            //-inventory div
            //-----------------------------------------------------------------------------
| {% block footer %}

//Save div
.footer
    .form-group.col-xs-12.block.save(style='padding-top:3px')
        .col-xs-4(style='margin-top:10px')
            input(type='submit', name = 'btn-other', form='createForm', value='Guardar y Agregar Otro').form-control.btn-primary.save--btn-other
        .col-xs-4(style='margin-top:10px')
            input(type='submit', name = 'btn-continue', form='createForm', value='Guardar y Continuar').form-control.btn-primary.save--btn-continue
        .col-xs-4(style='margin-top:10px')
            input(type='submit', name = 'btn-save', form='createForm', value='Guardar').form-control.btn-success.save--btn-save
//-Save div
//-----------------------------------------------------------------------------

| {% endblock %}


| {% endblock %}





| {% block js %}
| <script src="{% static 'public/js/products_addEdit.js' %}"></script>
| {% endblock %}
