
|{% extends "layout/base_layout.html" %}

| {% load i18n static %}

| {% block extrastyle %}
|   <link rel="stylesheet" type="text/css" href="{% static "vendor/side-panel/css/style.css" %}" />
|   <link rel="stylesheet" type="text/css" href="{% static "sales/pos/css/index.css" %}" />
| {% endblock %}

|{% block breadcrumbs %}
|<div class="breadcrumbs col-xs-12">
|<div class="float-left menu-sidebar-toggle" >
|    <span class="button js-toggle-main-menu"><i class="fa fa-bars"></i> <span class="text">Menu</span></span>
|</div>
|<div class="breadcrumbs-text">
|<a href="/">Inicio</a> &nbsp;  &rsaquo; &nbsp;  <span>Punto de Venta</span>
|<div id="user-tools" class="pull-right">
|       {% block welcome-msg %}
|        {% trans 'Welcome,' %}
|        <strong>{% firstof user.get_short_name user.get_username %}</strong>.
|        {% endblock %}
|        {% block userlinks %}
|        {% if user.has_usable_password %}
|        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
|        {% endif %}
|        <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
|        {% endblock %}
|    </div>
|</div>
|</div>
|{% endblock %}

| {% block content %}

#main-content

| {% block footer %}

#footer.footer

| {% endblock %}

| {% endblock %}



| {% block js %}
|   <script src="{% static 'public/js/layout_main.js' %}"></script>
|   <script src="{% static 'public/js/pos.js' %}"></script>
|   <script type="text/javascript">
|       alertify.defaults.theme.ok = "btn btn-success";
|       alertify.defaults.theme.cancel = "ui black button";
|   </script>
|   <script src="{% static 'vendor/priceFormat/js/PriceFormat.js' %}"></script>
| {% endblock %}
