
.module > table > tbody >tr > th{
    width: 30%;
}

.module h2, .module caption, .inline-group h2{
    background: dimgray;
}

.breadcrumbs-text{

    margin-left:60px;
}

.submit-row a.deletelink{
    height: 15px;
}

.menu-sidebar-toggle{
    margin: 3px 0 0 0;
    position:absolute;
    top: 1px;
    left:20px;
}

@media (max-width: 611px) {

  #user-tools{
    font-size: 9px;
    Display: none;
  }

}

@media (max-width: 413px) {

    .breadcrumbs-text{

        margin-left:20px;
    }

}
