/*!
 * Slidebars Website
 * Version: 2.0
 * Url: http://www.adchsm.com/slidebars/
 * Author: Adam Charles Smith
 * Author url: http://www.adchsm.com/
 */
/* line 1, ../sass/_typography.scss */
body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    /*font-weight: 300;*/

    color: rgba(0, 0, 0, .87);
    background-color: #222;
}


/* line 9, ../sass/_typography.scss */
a,
.link
{
    text-decoration: none;

    color: #ff5252;
}
/* line 14, ../sass/_typography.scss */
a:hover,
.link:hover
{
    text-decoration: none;

    color: #ff3838;
}

/* line 20, ../sass/_typography.scss */
h1
{
    font-size: 24px;
}

/* line 24, ../sass/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 300;
}

/* line 28, ../sass/_typography.scss */
pre
{
    font-size: 85%;

    overflow-y: auto;

    margin: 20px 0;
    padding: 10px;

    color: rgba(0, 0, 0, .54);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .01);
}

label
{
    margin-top: 10px;
}

.add-link {
    background: #999;
    border-radius: 15px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 5px 12px;
    text-transform: uppercase;
}

.add-link:hover {
    color: #fff;
}

.current-text
{
    color: #9d9d9d;
}


.input-sm {
    font-size: 15px;
}

.input-lg {
    font-size: 15px;
}
.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}
.left-checkbox
{
    font-size: 20px;

    width: 20px;
    height: 20px;
}

.app-container-div
{
    margin-top: 20px;
    padding-left: 25px;
}

.col-xs-10 hr
{
    margin-top: 5px;
    margin-bottom: 5px;

    border-top: 1px solid #47bac1;
}

.title
{
    font-size: 18px;

    color: #47bac1;
}

/* line 39, ../sass/_typography.scss */
.black-text
{
    color: #000;
    color: rgba(0, 0, 0, .87);
}

/* line 44, ../sass/_typography.scss */
.black-secondary
{
    color: rgba(0, 0, 0, .54);
}

/* line 48, ../sass/_typography.scss */
.black-disabled
{
    color: rgba(0, 0, 0, .26);
}

/* line 52, ../sass/_typography.scss */
.black-divider
{
    color: rgba(0, 0, 0, .12);
}

/* line 56, ../sass/_typography.scss */
.white-text
{
    color: #fff;
    color: white;
}

/* line 61, ../sass/_typography.scss */
.white-secondary
{
    color: rgba(255, 255, 255, .7);
}

/* line 65, ../sass/_typography.scss */
.white-disabled
{
    color: rgba(255, 255, 255, .3);
}

/* line 69, ../sass/_typography.scss */
.white-divider
{
    color: rgba(255, 255, 255, .12);
}

/* line 73, ../sass/_typography.scss */
.small,
small
{
    font-size: 85%;
}

/* line 77, ../sass/_typography.scss */
strong
{
    font-weight: 600;
}

/* line 1, ../sass/_font-awesome.scss */
li .fa
{
    margin-right: 5px;

    vertical-align: initial;
}

/* line 1, ../sass/_images.scss */
img
{
    max-width: 100%;
    height: auto;
}

/* line 1, ../sass/_lists.scss */
ul
{
    padding-left: 1em;
}
/* line 4, ../sass/_lists.scss */
ul li
{
    margin-bottom: 5px;
}
/* line 8, ../sass/_lists.scss */
ul.unstyled
{
    margin: 0;
    padding: 0;

    list-style: none;
}

/* line 1, ../sass/_helpers.scss */
.float-left
{
    float: left;
}

/* line 5, ../sass/_helpers.scss */
.float-right
{
    float: right;
}

/* line 1, ../sass/_canvas.scss */
[canvas=container]
{
    overflow-x: hidden;

    height: -webkit-calc( 100% - 180px );
    height:    -moz-calc( 100% - 180px );
    height:         calc( 100% - 180px );
    margin-top: 120px;
    padding: 0;

    background-color: #fff;
}

/* line 1, ../sass/_off-canvas.scss */
[off-canvas]
{
    font-weight: 300;

    background-color: #354052;
}
/* line 4, ../sass/_off-canvas.scss */
[off-canvas] .padded-box
{
    padding: 20px;
}
/* line 8, ../sass/_off-canvas.scss */
[off-canvas] ul.menu
{
    display: block;

    margin: 0;
    padding: 0;

    list-style: none;
}
/* line 14, ../sass/_off-canvas.scss */
[off-canvas] ul.menu li a
{
    display: block;

    padding: 20px;

    -webkit-transition: all 200ms ease-in-out 0s;
            transition: all 200ms ease-in-out 0s;

    color: #c0cad8;
    /*height: 20px;*/
    background-color: rgba(255, 255, 255, 0);
}
/* line 23, ../sass/_off-canvas.scss */
[off-canvas] ul.menu li a:hover
{
    color: white;
    background-color: #2B3647;
}

/* line 33, ../sass/_off-canvas.scss */
img#logo-menu
{
    max-width: 230px;
    margin: 20px;
}

/* line 39, ../sass/_off-canvas.scss */
img#profile
{
    display: block;

    max-width: 150px;
    margin: 0 auto;

    border-radius: 100%;
}

/* line 47, ../sass/_off-canvas.scss */
.demos-menu
{
    overflow-x: auto;
    overflow-y: hidden;

    height: 160px;

    white-space: nowrap;
}
/* line 53, ../sass/_off-canvas.scss */
.demos-menu .demo-block
{
    display: inline-block;

    width: 130px;
    margin: 30px;

    text-align: center;
}
/* line 60, ../sass/_off-canvas.scss */
.demos-menu .demo-icon
{
    width: 56px;
    height: 56px;
    margin: 0 auto;

    border-radius: 15%;
    background-color: white;
}
/* line 67, ../sass/_off-canvas.scss */
.demos-menu .demo-icon .fa
{
    font-size: 24px;
    line-height: 56px;

    top: 0;
}
/* line 74, ../sass/_off-canvas.scss */
.demos-menu .demo-text
{
    font-size: 10px;

    color: white;
}

/* line 81, ../sass/_off-canvas.scss */
.demo-slidebar
{
    padding: 20px;
}
/* line 84, ../sass/_off-canvas.scss */
.demo-slidebar p:first-child
{
    margin-top: 0;
}

/* line 90, ../sass/_off-canvas.scss */
.custom-responsive-width
{
    width: 70%;
}
@media (min-width: 500px)
{
    /* line 90, ../sass/_off-canvas.scss */
    .custom-responsive-width
    {
        width: 50%;
    }
}
@media (min-width: 1000px)
{
    /* line 90, ../sass/_off-canvas.scss */
    .custom-responsive-width
    {
        width: 30%;
    }
}

@media (min-width: 1200px)
{
    .composed
    {
        margin-top: 20px;
        padding-left: 0;
    }
}

/* line 102, ../sass/_off-canvas.scss */
.custom-fixed-width
{
    width: 150px;
}

/* line 106, ../sass/_off-canvas.scss */
.custom-fluid-height
{
    height: 50%;
}

/* line 111, ../sass/_off-canvas.scss */
.custom-transition-duration
{
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
}

/* line 116, ../sass/_off-canvas.scss */
.custom-transition-duration-2
{
    -webkit-transition-duration: 600ms;
            transition-duration: 600ms;
}

/* line 1, ../sass/_controls.scss */
[class*=js-open-],
[class*=js-toggle-],
[class*=js-close-]
{
    cursor: pointer;
}

/* line 1, ../sass/_nav.scss */
nav[canvas]
{
    font-size: 24px;
    font-weight: 100;
    line-height: 60px;

    position: fixed;
    top: 0;

    width: 100%;
    height: 90px;

    text-align: center;

    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #2B3647;
}
/* line 13, ../sass/_nav.scss */
nav[canvas] .button
{
    top: -5px;
}
@media (max-width: 413px)
{
    /* line 18, ../sass/_nav.scss */
    nav[canvas] .button .fa
    {
        margin: 0;
    }
}
/* line 24, ../sass/_nav.scss */
nav[canvas] .button span.text
{
    display: none;
}
@media (min-width: 414px)
{
    /* line 24, ../sass/_nav.scss */
    nav[canvas] .button span.text
    {
        display: inline;
    }
}

/* line 34, ../sass/_nav.scss */
#logo
{
    position: relative;
    top: 1px;

    max-width: 270px;
}

#nologo
{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;

    margin-right: 12%;

    color: white;
}

select
{
    overflow: scroll;
}

/* line 1, ../sass/_tables.scss */
table
{
    width: 100%;

    border-collapse: inherit;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
}

/* line 8, ../sass/_tables.scss */
td
{
    padding: 10px;
}

/* line 12, ../sass/_tables.scss */
thead tr td,
tr:not(:last-of-type) td
{
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
}

/* line 17, ../sass/_tables.scss */
td:not(:last-of-type)
{
    /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

/* line 21, ../sass/_tables.scss */
td.control-width
{
    width: 100px;
}

/* line 25, ../sass/_tables.scss */
.green
{
    color: #4caf50;
}

/* line 29, ../sass/_tables.scss */
.orange
{
    color: #ffc107;
}

/* line 33, ../sass/_tables.scss */
.red
{
    color: #f44336;
}

/* line 1, ../sass/_manhattan.scss */
[mhtn=container]
{
    max-width: 900px;
}

/* line 5, ../sass/_manhattan.scss */
[canvas=container] [mhtn=row]:not(.no-margin)
{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (min-width: 900px)
{
    /* line 5, ../sass/_manhattan.scss */
    [canvas=container] [mhtn=row]:not(.no-margin)
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

/* line 1, ../sass/_browserstack.scss */
img#browserstack
{
    position: relative;
    top: -1px;

    vertical-align: middle;
}

/* line 1, ../sass/_banner.scss */
#banner
{
    display: none;
}
@media (min-width: 900px)
{
    /* line 1, ../sass/_banner.scss */
    #banner
    {
        display: block;
    }
    /* line 7, ../sass/_banner.scss */
    #banner img
    {
        width: 100%;
        max-width: none;
    }
}

/* line 1, ../sass/_breadcrumb.scss */
ol.breadcrumb
{
    font-size: 85%;

    display: inline-block;

    margin: 0;
    padding: 0;

    list-style-type: none;
}
/* line 8, ../sass/_breadcrumb.scss */
ol.breadcrumb li
{
    display: inline;

    color: rgba(0, 0, 0, .54);
}
/* line 12, ../sass/_breadcrumb.scss */
ol.breadcrumb li:not(:last-child):after
{
    content: ' / ';

    color: rgba(0, 0, 0, .12);
}
/* line 17, ../sass/_breadcrumb.scss */
ol.breadcrumb li:last-child
{
    color: rgba(0, 0, 0, .26);
}

/* line 1, ../sass/_buttons.scss */
.button
{
    font-size: 12px;
    line-height: 1em;

    position: relative;

    display: inline-block;

    margin-bottom: 5px;
    padding: .7em;

    cursor: pointer;
    -webkit-transition: all 300ms ease;
            transition: all 300ms ease;

    color: white;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    background-color: #6F7E95;
}
/* line 11, ../sass/_buttons.scss */
.button .fa
{
    top: 0;

    margin-right: 5px;
}
/* line 23, ../sass/_buttons.scss */
.button:hover
{
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .27);
}
@media (max-width: 400px)
{
    /* line 29, ../sass/_buttons.scss */
    .button.expand-on-mobile
    {
        display: block;

        text-align: center;
    }
}
@media (max-width: 520px)
{
    #logo
    {
        max-width: 160px;
    }
}

@media (max-width: 620px)
{
    #nologo
    {
        font-size: 15px;
    }
}


/* line 37, ../sass/_buttons.scss */
.button.red
{
    color: white;
    border: 0 none;
    background-color: #ff5252;
}
/* line 42, ../sass/_buttons.scss */
.button.red:hover
{
    background-color: #ff3838;
}
/* line 48, ../sass/_buttons.scss */
.button.purple
{
    color: white;
    border: 0 none;
    background-color: #7c4dff;
}
/* line 53, ../sass/_buttons.scss */
.button.purple:hover
{
    background-color: #6933ff;
}
/* line 59, ../sass/_buttons.scss */
.button.blue
{
    color: white;
    border: 0 none;
    background-color: #40c4ff;
}
/* line 64, ../sass/_buttons.scss */
.button.blue:hover
{
    background-color: #26bcff;
}
/* line 70, ../sass/_buttons.scss */
.button.paypal
{
    color: white;
    border: 0 none;
    background-color: #11559d;
}
/* line 75, ../sass/_buttons.scss */
.button.paypal:hover
{
    background-color: #2997d8;
}

/* line 82, ../sass/_buttons.scss */
.button-group
{
    font-size: 0;

    margin-bottom: 15px;
}
/* line 86, ../sass/_buttons.scss */
.button-group .button
{
    border-radius: 0;
}
/* line 89, ../sass/_buttons.scss */
.button-group .button:first-child
{
    border-radius: 4px 0 0 4px;
}
/* line 93, ../sass/_buttons.scss */
.button-group .button:last-child
{
    border-radius: 0 4px 4px 0;
}
/* line 97, ../sass/_buttons.scss */
.button-group .button:nth-child(2)
{
    left: -1px;
}
/* line 101, ../sass/_buttons.scss */
.button-group .button:nth-child(3)
{
    left: -2px;
}

/* line 2, ../sass/_boxes.scss */
.box:nth-of-type(2n+1)
{
    margin: 15px -10px;
    padding: 10px;

    border-radius: 4px;
    background-color: rgba(0, 0, 0, .02);
}
/* line 9, ../sass/_boxes.scss */
.box h3
{
    margin-top: 0;
    margin-bottom: 5px;
}
/* line 14, ../sass/_boxes.scss */
.box p
{
    margin: 0;
}

/* line 1, ../sass/_sidebar.scss */
.sidebar
{
    margin-top: 10px;
    padding: 25px 0 5px 0;

    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
@media (min-width: 900px)
{
    /* line 1, ../sass/_sidebar.scss */
    .sidebar
    {
        margin-top: 23px;
        padding: 0;

        border-top: 0;
        border-bottom: 0;
    }
}

/* line 15, ../sass/_sidebar.scss */
.ad
{
    overflow: hidden;
}

/* line 19, ../sass/_sidebar.scss */
.responsive-ad-size
{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
@media (min-width: 600px)
{
    /* line 19, ../sass/_sidebar.scss */
    .responsive-ad-size
    {
        height: 200px;
    }
}
@media (min-width: 900px)
{
    /* line 19, ../sass/_sidebar.scss */
    .responsive-ad-size
    {
        height: 225px;
    }
}

div.breadcrumbs
{
    font-size: 14px;
    line-height: 40px;

    position: relative;

    height: 40px;
    padding: 0 40px 10px 40px;

    text-align: left;

    color: #cacaca;
    border: none;
    background: #354052;
}

div.breadcrumbs a
{
    color: #cacaca;
}

div.breadcrumbs a:focus,
div.breadcrumbs a:hover
{
    color: #fff;
}

.errorlist
{
    margin-bottom: 0;
    padding-left: 0;

    color: white;
}

.errorlist li
{
    margin-bottom: 0;

    list-style-type: none;
}

.error-field
{
    border: 1px red solid;
}

.error-span
{
    color: red;
}
.error-span.right
{
    float: right;

    padding-top: 10px;
}

.container-wrapper
{
    height: 100%;
}

#page-content-wrapper
{
    height: 100%;
}


.footer
{
    line-height: 60px;

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    height: 60px;
    margin-bottom: 0;

    background-color: #ECF2F6;
}

.messagelist
{
    padding-top: 5px;
}

.messagelist .alert
{
    padding-right: 40px;
    padding-left: 40px;
}

.btn-recipe[disabled]
{
    background-color: #69c9ce;
    border-color: #69c9ce;
}

.btn-recipe[disabled]:hover
{
    background-color: #69c9ce;
    border-color: #69c9ce;
}

.btn-success{
    background-color: #47BAC1;
    border-color: #47BAC1;
}

.btn-success:hover{
    background-color: #639AF5;
    border-color:  #639AF5;
}


.btn-primary{
    color: #6f7e95;
    background-color: #BFCCD9;
    border-color:  #BFCCD9;
}

.btn-primary:hover{
    background-color: #639AF5;
    border-color:  #639AF5;
}
